#set-name {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#set-name label {
    font-size: 4vh;
}

#set-name input {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Players tab */
#players {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 15%;
    min-height: 80vh;
    max-height: 80vh;
    background-color: rgb(245, 243, 231);
    border: 1px solid rgb(40, 40, 40);
}

#players div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding: 10px;
    border-bottom: 1px solid rgb(40, 40, 40);
}

.faded {
    color: rgb(150, 150, 150);
}

.start-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
    width: 50%;
    color: blue;
}

.game {
    width: 150vh;
    display: flex;
    flex-direction: row;
}

#start-game {
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(144, 171, 250);
    font-size: 50px;
}

#start-game:hover {
    background-color: rgb(144, 171, 250);
    color: rgb(255, 255, 255);
}

#start-game:active {
    background-color: rgb(144, 171, 250);
    color: rgb(255, 0, 0);
}
